<div class="he-app">
  <div class="he-app__HighChartsJs">
    <h1>
      Highcharts Graph
    </h1>
    <highcharts-chart
      class="HighChartsJs"
      [Highcharts]="Highcharts"
      [options]="options"
      style="width: 50%; height: 500px; display: block;"
    ></highcharts-chart>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="he-app__Everviz">
    <h1>Everviz</h1>
    <iframe
      class="highcharts-iframe"
      [src]="iframe"
      title="Chart: Untitled Chart"
      style="border: 0; width: 50%; height: 500px;"
    ></iframe>
  </div>
</div>
